@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Fjalla+One&display=swap');

html {
  scroll-behavior: smooth;
 }

body{
    margin: 0;
    width: 100%;
}

a:link{
  color: white;
  text-decoration: none;
}

a:active{
  color: white; 
  text-decoration: none
}

a:visited { 
  color: white; 
  text-decoration: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: black;
color: white;
font-family: 'Fjalla One', sans-serif;
}

.left-items{
    display: flex;
    gap: 20px;  
}

.mteamlogo{
    height: 100px;
}

.navbar h1{
    font-size: 2.4em;
}

.navbar-items{
    font-size: 2em;
    list-style: none;
    display: inline-flex;
    gap: 20px; 
}

.navbar-items li{ 
    border: 2px solid white;
    border-radius: 10px;
}

.navbar-items li:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: #fff;
    transition: 0.4s;
    color: black;
    border: 2px solid rgba(0, 191, 255, 0.685);
}

.right-items{
    display: flex;
    list-style: none;
    flex-direction: column;
    font-size: 1.2em;
    gap: 5px;
}

.right-items li{
    border: 2px solid white;
    border-radius: 5px;
    padding: 2.3px;
}

.right-items li:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: #fff;
    transition: 0.4s;
    color: black;
    border: 2px solid rgba(0, 191, 255, 0.685);
}

.sechome{
    display: flex;  
}

.divsechome{
    display: flex;
    align-items: flex-start;
    background-image: url(./.vscode/imgs/2023-BMW-M4-GT4-002-1080.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh; 
}

.bgsechome{
  display: flex;
  width: auto;
}

.divsechome h3{
    font-size: 3em;
    color: white;
    padding-left: 10px;
    font-family: 'Fjalla One', sans-serif;
}

.gallerydiv{
  display: flex;
  width: 100%;
}
  
.gallerysec{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.m4{ 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0E0B0B;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.m4img{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
}

.m4 h3{
  font-size: 3em;
}

.m4 p{
  font-size: 1.7em;
}

.m4img p{
  color: #0E0B0B;
}

.m4img:hover{
  background-color: rgba(255, 255, 255, 0.26);
  transition-duration: 1s;
}

.m4imgp{
  display: flex;
  flex-direction: column;
}

.m4desc{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(146, 148, 51);
  width: 100%;
  background-color:rgb(24, 19, 19);
  gap: 40px; 
}

.m4desc h4{
  font-size: 2em;
  margin: 0%;
  font-family: 'Fjalla One', sans-serif;
font-weight: 500;
}

.m4desc p{
  font-family:'Antonio', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  padding-bottom: 1px;
}

.x7{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0E0B0B;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.x7img{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
flex-direction: row-reverse;
}

.x7 h3{
  font-size: 3em;
}

.x7 p{
  font-size: 1.7em;
}

.x7img p{
  color: #0E0B0B;
}

.x7img:hover{
  background-color: rgba(255, 255, 255, 0.26);
  transition-duration: 1s;
}

.x7imgp{
  display: flex;
  flex-direction: column;
}

.x7desc{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(146, 148, 51);
  width: 100%;
  background-color:rgb(24, 19, 19);
  gap: 40px; 
}

.x7desc h4{
  font-size: 2em;
  margin: 0%;
  font-family: 'Fjalla One', sans-serif;
font-weight: 500;
}

.x7desc p{
  font-family:'Antonio', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  padding-bottom: 1px;
}

.m8{ 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0E0B0B;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.m8img{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
}

.m8 h3{
  font-size: 3em;
}

.m8 p{
  font-size: 1.7em;
}

.m8img p{
  color: #0E0B0B;
}

.m8img:hover{
  background-color: rgba(255, 255, 255, 0.26);
  transition-duration: 1s;
}

.m8imgp{
  display: flex;
  flex-direction: column;
}

.m8desc{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(146, 148, 51);
  width: 100%;
  background-color:rgb(24, 19, 19);
  gap: 40px; 
}

.m8desc h4{
  font-size: 2em;
  margin: 0%;
  font-family: 'Fjalla One', sans-serif;
font-weight: 500;
}

.m8desc p{
  font-family:'Antonio', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  padding-bottom: 1px;
}

.s1000{ 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0E0B0B;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.s1000img{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
flex-direction: row-reverse;
}

.s1000 h3{
  font-size: 3em;
}

.s1000 p{
  font-size: 1.7em;
}

.s1000img p{
  color: #0E0B0B;
}

.s1000img:hover{
  background-color: rgba(255, 255, 255, 0.26);
  transition-duration: 1s;
}

.s1000imgp{
  display: flex;
  flex-direction: column;
}

.s1000desc{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(146, 148, 51);
  width: 100%;
  background-color:rgb(24, 19, 19);
  gap: 40px;
}

.s1000desc h4{
  font-size: 2em;
  margin: 0%;
  font-family: 'Fjalla One', sans-serif;
font-weight: 500;
}

.s1000desc p{
  font-family:'Antonio', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  padding-bottom: 1px;
}

.gs{ 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0E0B0B;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.gsimg{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
}

.gs h3{
  font-size: 3em;
}

.gs p{
  font-size: 1.7em;
}

.gsimg p{
  color: #0E0B0B;
}

.gsimg:hover{
  background-color: rgba(255, 255, 255, 0.26);
  transition-duration: 1s;
}

.gsimgp{
  display: flex;
  flex-direction: column;
}

.gsdesc{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(146, 148, 51);
  width: 100%;
  background-color:rgb(24, 19, 19);
  gap: 40px;
}

.gsdesc h4{
  font-size: 2em;
  margin: 0%;
  font-family: 'Fjalla One', sans-serif;
font-weight: 500;
}

.gsdesc p{
  font-family:'Antonio', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  padding-bottom: 1px;
}

.ninet{ 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0E0B0B;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.ninetimg{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
flex-direction: row-reverse;
}

.ninet h3{
  font-size: 3em;
}

.ninet p{
  font-size: 1.7em;
}

.ninetimg p{
  color: #0E0B0B;
}

.ninetimg:hover{
  background-color: rgba(255, 255, 255, 0.26);
  transition-duration: 1s;
}

.ninetimgp{
  display: flex;
  flex-direction: column;
}

.ninetdesc{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(146, 148, 51);
  width: 100%;
  background-color:rgb(24, 19, 19);
  gap: 40px; 
}

.ninetdesc h4{
  font-size: 2em;
  margin: 0%;
  font-family: 'Fjalla One', sans-serif;
font-weight: 500;
}

.ninetdesc p{
  font-family:'Antonio', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  padding-bottom: 1px;
}

.contactsect{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 7px;
height: 30vh;
width: 100%;
background-color:rgb(14, 11, 11);
color: wheat;
}

.contactsect h4, p{
  margin: 0;
  font-size: 1.2em;
}
.contactsect h4{
  margin-top: 3px;
  font-size: 1.5em;
}

.mlogo{
  width: 10vw;
}

.gotop{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  text-decoration: none;
  font-family:'Antonio', sans-serif;
  -webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
transition: all 0.5s linear;
}

.gotop:hover{
  transform: translateY(-20px);
}
.logintitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  transform: translateY(-100%);
  color: white;
  font-family: 'Antonio', sans-serif;
  font-size: 2em;
  gap: 10px;
}

.logintitle img{
  padding-top: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(./.vscode/imgs/loginbg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.all{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 30px;
  
}
.login{
  display: flex;
  font-size: 1.5em;
  color: #2691d9;
justify-content: center;
align-items: center;
padding-left: 30px;
}

.login h2{
  margin: 0;
}

.userlabel{
  color: #2691d9;
  font-size: 1.3em;
}

.userlabel input{
  border-color: #adadad;
  background: inherit;
  color: white;
}

.passlabel{
  color: #2691d9;
  font-size: 1.3em;
}

.passlabel input{
  border-color: #adadad;
  background: inherit;
  color: white;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button{
  background-color: #2691d9;
  color: white;
  border-color: #adadad;
  font-family: 'Fjalla One', sans-serif;
  width: 10vw;
  height: 3vh;
  border-radius: 20px;
  margin-left: 50px;
  font-size: 1em;
}

.fpass{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding-top: 10px;
  font-family:'Antonio', sans-serif;
}

.fpass p{
  color: white;
  font-size: 1.2em;
}

.fpass button{
  color: #adadad;
  background-color: transparent;
  border-style: none;
transition: .5s;
}

.button button:hover{
  cursor: pointer;
}

.fpass button:hover{
  transform: translateY(50%);
  cursor:pointer;
}

.containerregister{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(./.vscode/imgs/registerbg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.allregister{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 30px;
}

.register{
  display: flex;
  font-size: 1.5em;
  color: #2691d9;
justify-content: center;
align-items: center;
padding-left: 30px;
}

.register h2{
  margin: 0;
}

.reguserlabel{
  color: #2691d9;
  font-size: 1.3em;
}

.reguserlabel input{
  border-color: #2691d9;
  background: inherit;
  color: black;
}

.regpasslabel{
  color: #2691d9;
  font-size: 1.3em;
}

.regpasslabel input{
  border-color: #2691d9;
  background: inherit;
  color: black;
}

.regbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.regbutton button:hover{
  cursor: pointer;
}

.regbutton button{
  background-color: #2691d9;
  color: black;
  border-color: #adadad;
  font-family: 'Fjalla One', sans-serif;
  width: 13vw;
  height: 3vh;
  border-radius: 20px;
  font-size: 1.2em;
 transform: translateX(32px);
 margin-bottom: 6px;
}

.regpass{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-family:'Antonio', sans-serif;
}

.regpass p{
  color: black;
  font-size: 1.2em;
}

.regpass button{
  color: black;
  background-color: transparent;
  border-style: none;
transition: .5s;
}

.havacc{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  font-family:'Antonio', sans-serif;
  gap: 5px;
}

.havacc p{
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

.havacc button{
  color: black;
  background-color: transparent;
  
transition: .5s;
font-size: 1em;
border-color: #adadad;
}

.havacc button:hover{
  cursor: pointer;
}

.havacc button:hover{
  transform: translateY(50%);
  cursor:pointer;
}

.registertitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  transform: translateY(-100%);
  color: black;
  font-family: 'Antonio', sans-serif;
  font-size: 2em;
  gap: 10px;
}

.registertitle h1{
  margin: 0;
}

.regemaillabel{
  color: #2691d9;
  font-size: 1.3em;
}

.regemaillabel input{
  border-color: #2691d9;
  background: inherit;
  color: black;
}